
@{
    ViewBag.Title = "Planowanie czasu pracy";
}

<h2>Efektywnie zarządzaj swoim zespołem</h2>

<div class="container">
    <div class="row">
        <div class="col-sm" style="width:30%; float:left; padding: 25px">
           <p> <img src="images/1.png" alt="dzialy" class="" style="max-width: 100%" /></p>
           <center> <a class="btn btn-warning" href="http://localhost:49303/dzialy/" role="button">Działy</a></center>
        </div>
        <div class="col-sm" style="width:30%; float:left; padding: 25px">
            <p><img src="images/2.png" alt="pracownicy" class=""  style="max-width: 100%" /></p>
            <center><a class="btn btn-warning" href="http://localhost:49303/pracownicy/" role="button">Pracownicy</a></center>
        </div>
        <div class="col-sm" style="width:30%; float:left; padding: 25px">
           <p> <img src="images/3.png" alt="zadania" class=""  style="max-width: 100%" /></p>
           <center> <a class="btn btn-warning" href="http://localhost:49303/zadania/" role="button">Zadania</a></center>
        </div>
    </div>
</div>